<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoderHouse Backend</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>

    <header>
      <h1>Proyecto Coder House Backend</h1>
      {{!-- <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/realtimeproducts">Real Time products</a></li>

        </ul>
      </nav> --}}
    </header>

    {{{body}}}

    <footer>

    </footer>

    <script src="/src/app.js"></script>
  </body>
</html>